body {
    background-color: aqua;
}

h1 {
    font-size: 64px;
    color: orange;
}

#am {
    background: yellow;
}

#red {
    background: red;
}

#br {
    background: brown;
}

.exe {
    background: orchid;
}