* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  body {
    background-color: blue;
    font-size: 20px;
    margin: 0 auto;
  }
  h1 {
    font-size: 1.5em;
    text-align: center;
  }

  p {
    margin: 15px;
  }
  
  h2 {
    font-size: 1em;
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  img {
    max-width: 100%;
  }
  
  figure {
    padding: 10px;
  }
  
}

@media screen and (max-width: 768px){
  
body {
  background-color: red;
  text-align: center;
  font-size: 10px;
  max-width: 360px;
  margin: 0;
}

p {
  text-align: center;
}

h1 {
  font-size: 15px;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
}

img {
  max-width: 100%;
}

figure {
  padding: 10px;
}

}


